<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDn7nTbuMXbID6pefk_vEhwDspvksuwKzU</string>
	<key>GCM_SENDER_ID</key>
	<string>121917133535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mlr.SportLink</string>
	<key>PROJECT_ID</key>
	<string>sportlink-b061c</string>
	<key>STORAGE_BUCKET</key>
	<string>sportlink-b061c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121917133535:ios:9bd7f5101c0d36982e0f6a</string>
</dict>
</plist>